footer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 40px;
  left: 40px;
  align-items: center;
}
footer p {
  color: var(--whiteColor);
}
footer svg {
  margin-left: 20px;
  font-size: 20px;
}
footer svg path {
  transition: all ease 0.2s;
  fill: var(--whiteColor);
}
footer svg:hover path {
  fill: var(--pinkColor);
}
