footer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 40px;
  left: 40px;
  align-items: center;
  p {
    color: var(--whiteColor);
  }
  svg {
    margin-left: 20px;
    font-size: 20px;
    path {
      transition: all ease 0.2s;
      fill: var(--whiteColor);
    }
    &:hover {
      path {
        fill: var(--pinkColor);
      }
    }
  }
}
